/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gabriola', serif;
  font-size: xx-large;
  color: #fff;
  height: 100%;
  width: 100%;
}

.contact-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url('/contact-page-background.png') no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
}

.contact-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  max-width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffeb3b;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #ffeb3b;
}

h3 {
  margin-top: 30px;
  color: #ffeb3b;
}

p {
  font-size: 1rem;
  color: #ddd;
}

.contact-form {
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

input, textarea {
  width: 92%;
  padding: 12px;
  border: 2px solid #ffeb3b;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 10px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #fff;
}

textarea {
  resize: vertical;
  height: 150px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: transparent;
  color: #ffeb3b;
  border: 2px solid #ffeb3b;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: medium;
}

.btn:hover {
  color: #000;
  border-color: #ffeb3b;
}

.btn::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffeb3b;
  transition: top 0.3s ease-in-out;
}

.btn:hover::before {
  top: 0;
}

.support-info {
  margin-bottom: 40px;
}

.support-info a {
  color: #ffeb3b;
  text-decoration: none;
}

.support-info a:hover {
  text-decoration: underline;
}

.cookie-notice {
  margin-top: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
  .contact-container {
    width: 70%;
    padding: 20px;
  }

  h1, h4 {
    font-size: 1.5rem;
  }

  input, textarea, .btn {
    font-size: 0.9rem;
  }

  .btn {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .contact-container {
    width: 90%;
    padding: 15px;
  }

  h1, h4 {
    font-size: 1.2rem;
  }

  input, textarea, .btn {
    font-size: 0.85rem;
  }

  .btn {
    padding: 8px;
  }
}
